* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    display: inline-block;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color:rgb(221, 221, 221);
    text-decoration: none;
}

nav {
    padding: 5px 1%;
    width: 100%;
    background-color:  rgb(8, 85, 2);
    border-bottom: black;
    border-style: solid;
}

nav h1 {
    position: absolute;
    padding: 0px;
    float: left;
    margin-left: 0%;
    margin-top: -60px;
    color: seashell;
    font-size: 48px;
}

.nav_links {
    flex-wrap: nowrap;
    width: auto;
    padding: 10px;
    list-style: none;
    margin-left: 1200px;
}

button {
    margin-left: 15px;
    padding: 10px 20px;
    background-color: rgba(8, 85, 2, 0.712);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(7, 150, 66);
    color: rgb(233, 181, 10);
    transition: all 0.3s ease 0s;
}

header {
    width: 75%;
    height 500px;
}

aside {
    display: flex;
    align-self: start;
    border-style: solid;
    border-color: black;
    height: 250px;
    width: 20%;
    margin-left: 77%;
}

footer { 
    padding: 0px;
    height: 60px;
    width: 100%;
    background-color:  rgb(8, 85, 2);
    border-bottom: black;
    border-style: solid;
}

.contact_info {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 15px 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}
