* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(202, 178, 148);
}

/*Aligning and styling nav buttons*/
li, a, button {
    display: inline-block;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color:rgb(221, 221, 221);
    text-decoration: none;
}

/*Styling the nav bar*/
nav {
    padding: 5px 1%;
    width: 100%;
    background-color:  rgb(8, 85, 2);
    border-bottom: black;
    border-style: solid;
}

/*Positioning the h1 inside of the nav bar*/
nav h1 {
    position: absolute;
    padding: 0px;
    float: left;
    margin-left: 0%;
    margin-top: -60px;
    color: seashell;
    font-size: 48px;
}

/*Layout of the links inside of the nav bar*/
.nav_links {
    flex-wrap: nowrap;
    width: auto;
    padding: 10px;
    list-style: none;
    margin-left: 1200px;
}

/*styling the buttons within the nav bar*/
button {
    margin-left: 15px;
    padding: 10px 20px;
    background-color: rgba(8, 85, 2, 0.712);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/*Creating a reaction to the mouse hovering*/
button:hover {
    background-color: rgb(7, 150, 66);
    color: rgb(233, 181, 10);
    transition: all 0.3s ease 0s;
}


/*Layout of the header*/
header {
    display: inline-flex;
    justify-content: center;
    margin: 1% 6%;
    width: auto;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}


/*Layout of the main*/
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    top: 0;
    left: 4%;
    position: relative;
    margin: 10px 0px;
}

/*Styling the images within main*/
.projects img {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    margin-right: 15px;
}

/*Layout of the aside within main*/
aside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    background-color: blanchedalmond;
    position: sticky;
    top: -210px;
    right: -10px;
    height: 400px;
    width: 13%;
    padding: 3px;
}


/*Position of the h2 within aside*/
h2 {
    position: relative;
    background-color: rgb(8, 85, 2);
    color: white;
    padding: 0px 49px;
}

/*Stying of the footer*/
footer { 
    padding: 0px;
    height: 60px;
    width: 100%;
    background-color:  rgb(8, 85, 2);
    border-bottom: black;
    border-style: solid;
}

/*Aligning and sizing content within the footer*/
.contact_info {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 15px 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}


/*Formatting the screen for tablets*/
@media screen and (max-width: 992px) {
nav, header, main, aside, h2, footer, .contact_info {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
}
}